# Anaconda y librerías

# # pandas

In [2]:
import pandas as pd
titanic=pd.read_csv("datos.csv")
titanic.head()

    ID_EQUIPO ID_TIPO_EQUIPO UBICACION FECHA_INSTALACION FECHA_CONSULTA
0  2020018163           RMDT       362          14/07/22       08/11/22
1  2020018185           RMDT       351          20/06/22       08/11/22
2  2020018194           RMDT       356          20/06/22       08/11/22
3  2020018197           RMDT       326          20/06/22       08/11/22
4  2020018217           RMDT       340          20/06/22       08/11/22

# # NumPy

ahora prueba un ejemplo utilizando NumPy

In [7]:
import numpy as np
import pandas as pd
unidades_datos=np.array([[1,3,5],[2,4,6],[10,11,12]])
unidades_datos
unidades=pd.DataFrame(unidades_datos) #DataFrame es un método de pandas
unidades

    0   1   2
0   1   3   5
1   2   4   6
2  10  11  12

# Matplotlib

Intenta mostrar en un gráfico unos datos

# técnica WebScraping- busca una librería

Bichea una web y extrae info "comprometida"

# Reto

Te piden una frase y tu muestras las palabras ordenadas alfabética en mayúsculas. Gana quien lo haga en menos líneas.

In [13]:
frase=input('dime una frase')
#split, upper, sort....todo a la vez y lo muestras
sorted(frase.upper().split(sep=' '))

dime una fraseahora veamos si funciona

['AHORA', 'FUNCIONA', 'SI', 'VEAMOS']